.features--heading--price--container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.features--container {
    margin: 0 1.5rem;
    background: #fff;
    border: 1px solid #d6dae5;

    .features--complex {
        background: #f2f3f3;
        color: #464951;
        font-size: .875rem;
        line-height: 1.3;
        border-bottom: 1px solid #d6dae5;
        padding: 1rem;
        text-align: center;
    }

    .features--subcontainer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .features--heading {
            color: #00ad6a;
            font-size: 2.25rem;
            letter-spacing: -1.5px;
            line-height: 1;
            font-weight: 400; 
        }

        .features--price {
            font-size: 1.25rem;
            letter-spacing: -.5px;
            color: #83858a;
        }

        .features--premium {
            background: #1fe374;
            color: #464951;
            font-size: 1.25rem;
            width: 100%;
            text-align: center;
            text-decoration: none;
            padding: .5rem 2rem .75rem 2rem;
            line-height: 1.5;
            font-weight: 700;
            order: 1;
        }

        .features--get-all {
            font-size: .75rem;
            line-height: 1.15;
            font-weight: 700;
            color: #464951;
        }

        .features--li {
            margin-top: -1rem;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            color: #464951;

            li {
                div {
                    display: flex;
                    align-items: flex-start;
                    gap: .15rem;

                    img {
                        margin-top: .325rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .features--heading--price--container {
        display: flex;
        flex-direction: row;
        gap: 1rem;

    }
    
    .features--container {
        .features--subcontainer {
            .features--price {
                margin-top: .45rem;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .features--container {
        margin: 0;
        min-width: 275px;
        max-width: 350px;

        .features--subcontainer {
            .features--premium {
                transition: transform .2s;
            }
        }

        &:hover {
            .features--subcontainer {
                .features--premium {
                    transform: scale(1.05);
                    color: #062c27;
                    transition: transform .5s;
                }

                .features--li {
                    color: #062c27;
                }
            }
        }
        
        .features--subcontainer {
            padding: 2rem 1rem;
    
            .features--get-all {
                text-align: center;
            }
    
            .features--premium {
                order: 0;
                align-self: center;
            }
        }
    }

    .features--heading--price--container {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
}