.testimonial--container {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    max-width: 800px;
    margin: auto;
    
    .testimonial--blockquote {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .testimonial--quote {
            font-size: 1.5rem;
            color: #080c16;
            line-height: 1.5;
        }

        .testimonial--cite {
            font-size: .75rem;
            font-weight: 700;
            font-style: normal;
            letter-spacing: 1px;
            color: #00ad6a;
        }
    }
}