@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Work Sans, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  header {
    background: #fff;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #d6dae5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .header--mobile--menu--toggle {
    border: none;
    background: none;
  }
  header .header--nav {
    width: 100%;
  }
  header .header--nav--ul {
    list-style-type: none;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header--nav--ul.show {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 5.15rem;
    width: 100%;
    padding: 1.5rem;
    background: #eafaf1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  @-webkit-keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  header .header--nav--ul.show .link--one {
    opacity: 1;
    -webkit-animation: opacity .3s;
            animation: opacity .3s;
  }
  header .header--nav--ul.show .link--two {
    opacity: 1;
    -webkit-animation: opacity .6s;
            animation: opacity .6s;
  }
  header .header--nav--ul.show .link--three {
    opacity: 1;
    -webkit-animation: opacity .9s;
            animation: opacity .9s;
  }
  header .header--nav--ul.show .link--four {
    opacity: 1;
    -webkit-animation: opacity 1.2s;
            animation: opacity 1.2s;
  }
  header .header--nav--ul.show .link--five {
    opacity: 1;
    -webkit-animation: opacity 1.5s;
            animation: opacity 1.5s;
  }
  header .header--nav--ul.show .link--six {
    opacity: 1;
    -webkit-animation: opacity 1.8s;
            animation: opacity 1.8s;
  }
  header .header--nav--ul.show .header--nav--ul--sign-up {
    opacity: 1;
    -webkit-animation: opacity 2.1s;
            animation: opacity 2.1s;
  }
  header .header--nav--ul .header--nav--ul--li--sign-up {
    margin-top: 1rem;
  }
  header .header--nav--ul a {
    font-size: 1.25rem;
    color: #00ad6a;
    font-weight: 700;
    text-decoration: none;
    opacity: 0;
  }
  header .header--nav--ul a.header--nav--ul--sign-up {
    background: -webkit-gradient(linear, left top, right top, from(#00ab6a), to(#23ea76));
    background: linear-gradient(90deg, #00ab6a, #23ea76);
    padding: 1rem;
    color: #062c27;
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 3rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header--mobile--menu--toggle {
    display: none;
  }
  header .header--nav--ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
  }
  header .header--nav--ul .invisible--li {
    display: none;
  }
  header .header--nav--ul a {
    color: #00ad6a;
    font-weight: 700;
    text-decoration: none;
  }
  header .header--nav--ul a.link--three {
    color: #062c27;
  }
  header .header--nav--ul a.header--nav--ul--sign-up {
    border: 2px solid #00ab6a;
    padding: .4rem 1rem;
  }
}
/*# sourceMappingURL=general.css.map */