@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Work Sans, sans-serif;
  background-color: #eafaf1;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  header {
    background: #fff;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #d6dae5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .header--mobile--menu--toggle {
    border: none;
    background: none;
  }
  header .header--nav {
    width: 100%;
  }
  header .header--nav--ul {
    list-style-type: none;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header--nav--ul.show {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 5.15rem;
    width: 100%;
    padding: 1.5rem;
    background: #eafaf1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  @-webkit-keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  header .header--nav--ul.show .link--one {
    opacity: 1;
    -webkit-animation: opacity .3s;
            animation: opacity .3s;
  }
  header .header--nav--ul.show .link--two {
    opacity: 1;
    -webkit-animation: opacity .6s;
            animation: opacity .6s;
  }
  header .header--nav--ul.show .link--three {
    opacity: 1;
    -webkit-animation: opacity .9s;
            animation: opacity .9s;
  }
  header .header--nav--ul.show .link--four {
    opacity: 1;
    -webkit-animation: opacity 1.2s;
            animation: opacity 1.2s;
  }
  header .header--nav--ul.show .link--five {
    opacity: 1;
    -webkit-animation: opacity 1.5s;
            animation: opacity 1.5s;
  }
  header .header--nav--ul.show .link--six {
    opacity: 1;
    -webkit-animation: opacity 1.8s;
            animation: opacity 1.8s;
  }
  header .header--nav--ul.show .header--nav--ul--sign-up {
    opacity: 1;
    -webkit-animation: opacity 2.1s;
            animation: opacity 2.1s;
  }
  header .header--nav--ul .header--nav--ul--li--sign-up {
    margin-top: 1rem;
  }
  header .header--nav--ul a {
    font-size: 1.25rem;
    color: #00ad6a;
    font-weight: 700;
    text-decoration: none;
    opacity: 0;
  }
  header .header--nav--ul a.header--nav--ul--sign-up {
    background: -webkit-gradient(linear, left top, right top, from(#00ab6a), to(#23ea76));
    background: linear-gradient(90deg, #00ab6a, #23ea76);
    padding: 1rem;
    color: #062c27;
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 3rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header--mobile--menu--toggle {
    display: none;
  }
  header .header--nav--ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
  }
  header .header--nav--ul .invisible--li {
    display: none;
  }
  header .header--nav--ul a {
    color: #00ad6a;
    font-weight: 700;
    text-decoration: none;
  }
  header .header--nav--ul a.link--three {
    color: #062c27;
  }
  header .header--nav--ul a.header--nav--ul--sign-up {
    border: 2px solid #00ab6a;
    padding: .4rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  header .header--nav--ul a:hover {
    color: #062c27;
  }
  header .header--nav--ul a:hover.header--nav--ul--sign-up {
    color: #062c27;
    background: #00ab6a;
  }
}

.hero--container {
  padding: 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.hero--container .hero--heading {
  font-size: 3rem;
  letter-spacing: -2px;
  line-height: 1;
}

.hero--container .hero--paragraph {
  font-size: 1.125rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero--container {
    padding: 0 1.5rem;
    gap: 1rem;
  }
  .hero--container .hero--heading {
    font-size: 3.75rem;
    max-width: 550px;
  }
  .hero--container .hero--paragraph {
    max-width: 575px;
  }
}

@media screen and (min-width: 1024px) {
  .hero--container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.pulse--basic--container {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.pulse--basic--container .pulse--basic--heading {
  color: #00ad6a;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: 1.15;
}

.pulse--basic--container .pulse--basic--li {
  padding-left: 1.5rem;
  color: #464951;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
}

.pulse--basic--container .pulse--basic--paragraph {
  color: #464951;
}

.pulse--basic--container .pulse--basic--paragraph .pulse--basic--link {
  color: #080c16;
}

@counter-style check {
  system: fixed;
  symbols: url(../images/icon-check.svg);
  suffix: " ";
}

.business--container {
  margin: 0 1.5rem;
  background: #fff;
  border: 1px solid #00ad6a;
  border-radius: .5rem .5rem 0 0;
}

.business--container .business--recommended {
  background: #00ad6a;
  color: #fff;
  font-size: .75rem;
  font-weight: 700;
  padding: .5rem 0;
  text-align: center;
}

.business--container .business--subcontainer {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.business--container .business--subcontainer .business--heading {
  color: #00ad6a;
  font-size: 2.25rem;
  letter-spacing: -1.5px;
}

.business--container .business--subcontainer .business--price {
  font-size: 1.25rem;
  letter-spacing: -.5px;
  color: #83858a;
}

.business--container .business--subcontainer .business--sign-up {
  background: #1fe374;
  color: #464951;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: .5rem 2rem .75rem 2rem;
  line-height: 1.5;
  font-weight: 700;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.business--container .business--subcontainer .business--what--you--get {
  font-size: .75rem;
  line-height: 1.15;
  font-weight: 700;
  color: #464951;
}

.business--container .business--subcontainer .business--li {
  margin-top: -1rem;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5rem;
  color: #464951;
}

.business--container .business--subcontainer .business--li li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: .15rem;
}

.business--container .business--subcontainer .business--li li div img {
  margin-top: .325rem;
}
/*# sourceMappingURL=general.css.map */